aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
psutil
apscheduler
motor
pillow==12.0.0
kurigram==2.2.19
ntgcalls==2.1.0
py-tgcalls==2.2.11
pykeyboard
python-dotenv
pyyaml==6.0.1
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp==2025.10.14
youtube-search
py-yt-search~=0.5.7
youtube-search-python
httpx[http2]==0.28.1
opencv-python
beautifulsoup4
numpy
PyGithub==2.3.0
